.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;
  margin: 18px;
  border-radius: 8px;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 100%;
      height: 46px;
      margin-top: 10%;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        cursor: pointer;
        padding: 6px 8px;
        border-radius: 8px;
        transition: all 0.3s ease;

        &:hover {
          background-color: #ece8ff;
          // padding: 4px 9px;
        }

        .icon {
          font-size: 18px;
          color: #7451f8;
        }

        span {
          font-size: 13px;
          font-weight: 600;
          color: #555;
          margin-left: 10px;
        }
      }

      .menu>li {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      .submenu {
        padding-left: .5rem;
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

    }
  }
}